<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Competitions</h1>
      
      <% if(currentUser && currentUser.isAdmin()) { %>
        <a href="/competitions/new" class="btn btn-primary">Add a competition</a>
      <% } %>

      <ul class="list-group" id="comp-list">
        <% competitions.forEach((competition) => { %>
          <li class="list-group-item comp-list-item">
            <a href="/competitions/<%= competition.id %>" class="comp-title"><h4><%= competition.title %></h3></a> 
            <span class="comp-desc">
              <%= competition.description %>
            </span>
            <span class="comp-details">Max words: <%= competition.maxwords %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Ends: <%= competition.enddate.getDate() %>/<%= competition.enddate.getMonth() %>/<%= competition.enddate.getUTCFullYear() %>
            </span>
            <a href="/competitions/<%= competition.id %>" class="btn btn-primary view-details">
              View details
            </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>